.activities {
    max-width: 1024px;
    padding: 30px 50px;

    @at-root #{&}-post {
        width: 100%;
        padding: 20px 20px 10px 20px;
        border: 1px solid $light_color_20;
        border-radius: $border_radius;
        margin-bottom: 30px;
        background-color: $white_color;

        @at-root #{&}__header {
            display: flex;
            align-items: center;

            @at-root #{&}-title {
                font-size: 1.6rem;
                font-weight: $font_weight_bold;
            }
        }

        @at-root #{&}__body {
            margin-top: 15px;
        }

        @at-root #{&}__status {
            @extend .typography;
            @extend .typography__subtitle;
            padding: 3px 10px;
            border-radius: $border_radius;
            background-color: $light_color_20;
            margin-right: 10px;

            @at-root #{&}-pending {
                background-color: $warning_color;
            }
            @at-root #{&}-success {
                background-color: $success_color;
            }
        }
    }
}