.activities {

    @at-root #{&}-post {
        width: 100%;
        padding: 20px;
        border: 1px solid $light_color_20;
        border-radius: $border_radius;
        margin-bottom: 30px;

        @at-root #{&}__header {
            display: flex;
            align-items: center;

            @at-root #{&}-title {
                font-size: 1.6rem;
                font-weight: $font_weight_bold;
            }
        }

        @at-root #{&}__body {
            margin-top: 15px;
        }
    }
}