.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    position: relative;

    @at-root #{&}__spacing {
        height: 50px;
    }

    @at-root #{&}__body {
        flex: 1;
        overflow: auto;
    }
}

.main-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light_color_30;
    border-collapse: collapse;
    background-color: $white_color;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 50px;
    z-index: 1000;

    @at-root #{&}__title {
        width: 100%;
        max-width: 200px;
        font-size: $font_size_large;
        font-weight: $font_weight_bold;
        margin: 0;
        text-overflow: ellipsis;
    }

    @at-root #{&}__item {
        color: $gray_dark_color;
        font-size: $font_size_normal;
        font-weight: $font_weight_semibold;
        margin-right: 15px;
        padding: 15px 0px;
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        border-bottom: 2px solid transparent;

        &.item-disabled {
            color: #aaa;
            cursor: default;
        }

        &.item-active {
            color: $primary_color;
            border-color: $primary_color;
        }
    }
}