.workspace-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.workspace-topbar {
    width: 100%;
    height: 40px;
    background-color: $primary_color;
    display: flex;
    align-items: center;
    padding: 0px 30px;

    span {
        @extend .typography;
        background-color: white;
        font-weight: $font_weight_black;
        color: $primary_color;
        padding: 0px 5px;
        border-radius: $border_radius;
        font-size: 1.5rem;
    }
}

.workspace-body {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
}

.workspace-sidebar {
    min-width: 270px;
    height: 100%;
    border-right: 1px solid $light_color_20;
    padding: 15px 20px 20px 20px;

    @at-root #{&}__logo {
        @extend .typography, .typography__header;
        font-weight: $font_weight_black;
        color: $primary_color;
        text-align: center;
        margin-bottom: 20px;

        span {
            background-color: $primary_color;
            color: $white_color;
            padding: 4px 6px;
            border-radius: $border_radius;
        }
    }

    @at-root #{&}__header {
        width: 100%;
        height: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @at-root #{&}-avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            outline: $primary_color solid 2px;
            object-fit: cover;
            cursor: pointer;
        }

        @at-root #{&}-name {
            @extend .typography;
            font-size: $font_size_normal;
            font-weight: $font_weight_semibold;
            color: $primary_color;
            text-align: center;
            margin-top: 15px;
        }
    }

    @at-root #{&}__list {
        margin-top: 10px;

        @at-root #{&}-item {
            padding: 6px 10px;
            font-size: $font_size_normal;
            font-weight: $font_weight_medium;
            cursor: pointer;
            border-radius: $border_radius;
            display: flex;
            align-items: center;
            user-select: none;
            text-decoration: none;
            color: inherit;

            &:hover {
                background-color: $primary_color_opacity_1;
            }
        }

        .list-item__active {
            background-color: $primary_color_opacity_1;
            color: $primary_color;
        }
    }
}