.button {
    padding: 10px 12px;
    background-color: $primary_color_opacity_1;
    color: $primary_color;
    font-size: $font_size_normal;
    font-weight: $font_weight_semibold;
    border: 0;
    border-radius: $border_radius;
    cursor: pointer;

    &:active {
        background-color: lighten($primary_color_opacity_1, $amount: 20%);
    }

    @at-root #{&}__large {
        padding: 12px;
    }

    @at-root #{&}__primary {
        background-color: $primary_color;
        color: $white_color;

        &:active {
            background-color: darken($primary_color, $amount: 5%);
        }
    }
}

.icon-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: $font_size_normal;

    &:active {
        background-color: $light_color_20;
    }
}