@import './styles/styles';

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    color: $gray_dark_color;
    line-height: 1.5;
}
